.game-home-pg{
    background-color: black;
    border: 1px solid black;
    background-image: url("../../../public/video/star_infinite.gif");
}
.game-tag-line{
    font-size: 5rem;
    color: rgb(216, 255, 255);
    text-align: center;
    width: clamp(1100px , 80% , 1250px);
    border: 0px solid red;
    margin: 100px auto 80px auto
}
.explore-game-btn{
    color: rgb(114, 247, 247);
    border: 1px solid rgb(174, 255, 255) ;
    width: 330px;
    text-align: center;
    font-size: 2.5rem;
    margin: 0px auto;
    border-radius: 10px;
}
.explore-game-btn:hover{
    color: rgb(84, 184, 184);
    border: 1px solid rgb(87, 187, 187) ;
    
}




.game-grid-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr ; /* 5 columns */
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr ; /* 5 columns */
    width: 1100px;
    height:700px;

    margin: auto;
    align-items: center;
    justify-items: center;
    border: 0px solid rgb(34, 34, 34);
    margin-top: 100px;
  }
  
  .game-grid-item {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 4px 10px rgba(62, 62, 62, 0.5);
  }

  .game-section3{
    border: 0px solid rgb(39, 39, 39);
    color: wheat;
    padding-top: 5%;
    margin-top: 5%;
    border-top: 1px solid rgb(67, 67, 67);
  }

  .game-container{
    display: flex;
    flex-direction: column;
    width: clamp(1000px , 85% , 1100px);
    border: 0px solid red;
    margin: auto;
}
.game-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}
.game-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgb(29, 29, 29);
    padding: 3% 2%;
    width: 600px ;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 2px rgba(48, 48, 48, 0.734);
    
    
}
.game-name{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(254, 255, 226);
    font-family: 'Times New Roman', Times, serif;
    
}
.game-description{
    font-size: 1.7rem;
    font-weight: 300;
    color: azure;
    margin-top: 10px;
}
.game-image{
    width: 350px;
    height: 450px;
    box-shadow: 3px 5px 10px 2px rgba(48, 48, 48, 0.734);
    border-radius: 10px;
}
.game-image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.play-game-btn{
    color: rgb(255, 74, 74);
    border: 1px solid rgb(255, 41, 41);
    width: 300px;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0px 0px;
}
.play-game-btn a{
    color: red;
    text-decoration: none;
}
.play-game-btn:hover{
    color: rgb(190, 62, 62);
    border: 1px solid rgb(202, 38, 38);
}


.game-section4{
    margin-top: 5%;
    margin: 0px auto;
    width: clamp(1000px , 85% , 1100px);
    margin-bottom: 50px;
}
.game-sec4-heading{
    font-size: 4rem;
    color: rgb(179, 237, 245);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 7%;

}
.game-s4-contaier{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}